<ul class="navbar-nav">
      
  <li class="nav-item">
    <a routerLink="home" class="nav-link" routerLinkActive="active">
     Home
    </a>
  </li> 
  <li class="nav-item">
    <a routerLink="profile" class="nav-link" routerLinkActive="active">
     Profile
    </a>
  </li> 
  <li class="nav-item">
    <a routerLink="friends" class="nav-link" routerLinkActive="active">
     Friends
    </a>
  </li> 
  <li class="nav-item">
    <a routerLink="notification" class="nav-link" routerLinkActive="active">
     Notification
    </a>
  </li> 
  <li class="nav-item">
    <a routerLink="settings" class="nav-link" routerLinkActive="active">
     Settings
    </a>
  </li> 
</ul>